@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<strong>Be sure to help us by getting in touch with feedback on how we can improve our service.</strong> <br /><br /><br />

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScSpHvxH0EU1n_Kx9MnK2qsmkGv0V-ilAGTi82tm52h648T-g/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

