@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To Do List Application</h1>
    <p class="lead">Presenting Version 4.0 of my To Do List Application. Keeping track of life's ups and downs. Built using the ASP.NET MVC Framework.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p style="text-align: justify;">
            Head over to My Inbox for all of your To Dos in one simple interface. 
            Add a quick To Do and see the table being updated live. 
            Click create or edit to add more parameters to the To Do.
        </p>
    </div>
    <div class="col-md-4">  
        <h2>Suggestions</h2>
        <p style="text-align: justify;">Head over to My Suggestions once you have created your To Dos to find out what you could be doing right now.</p>
    </div>
    <div class="col-md-4">
        <h2>Organisation</h2>
        <p style="text-align: justify;">Keep structure to your app by adding To Dos to Lists and adding Lists to Folders. Easily find the contents of each by clicking on the name of the Folder or List.</p>
    </div>
</div>
